html {
  overflow: hidden;
}
body {
  margin: 0;
  font-family:
    "Noto Sans JP",
    "Hiragino Maru Gothic ProN",
    "Yu Gothic",
    "Meiryo",
    sans-serif;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

header {
  display: flex;
  align-items: center;
  height: 70px;
  background: #333;
  color: #fff;
}
header > #titles {
	flex: 1;
  padding-right: 70px;
}
header > #titles > .title {
	margin: 0;
	text-align: center;
  white-space: nowrap;
  display: none;
}
header > #btn_open-menu {
  margin: 0;
  width: 70px;
  height: 70px;
  cursor: pointer;
  font-size: 24px;
  border: none;
  color: white;
  background: none;
}

footer {
  background: #333;
  padding: 5px;
  display: flex;
  align-items: center;
	justify-content: center;
  overflow: hidden;
  white-space: nowrap;
}
footer > * {
	margin: 0 10px;
	text-align: center;
	text-decoration: none;
  color: #fff;
}

#top-layout {
  flex: 1;
  display: flex;
  overflow: hidden;
}

#menubar {
  z-index: 1;
  top: 0;
  /* width: 250px; */
  overflow-y: auto;
  background: #f0f0f0;
  transition: left 0.3s;
}
#menubar > #btn_close-menubar {
  position: absolute;
  top: 0;
  right: 10px;
  margin: 0;
  width: 40px;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  background: none;
}
#menubar #menus {
  background: #f8f9fa;
}
#menubar .menu {
  display: flex;
}
#menubar .menu-prefix {
  visibility: hidden;
  background: #dee2e6;
  font-weight: bold;
  border-left: 8px solid #0d6efd;
}
#menubar .menu-text {
  flex: 1;
  display: block;
  padding: 12px 20px;
  text-decoration: none;
  font-size: 15px;
  transition: background 0.2s, padding-left 0.2s;
  color: #333;
}
#menubar .menu-text:hover {
  font-weight: bold;
  background: #e9ecef;
}

#content-area {
  flex: 1;
  padding: 0;
}
#content-area > .content-wrapper {
  display: none;
  height: 100%;
  overflow-y: auto;
}

/* URL-Hashで要素の表示／非表示／見た目を切り替える */
#content-area > .content-wrapper:target { display: block; }
body:has(#welcome:target) .switch-display.welcome { display: block; }
body:has(#profile:target) .switch-display.profile { display: block; }
body:has(#nagasamai:target) .switch-display.nagasamai { display: block; }
body:has(#wakegaku:target) .switch-display.wakegaku { display: block; }
body:has(#cocorefix:target) .switch-display.cocorefix { display: block; }
body:has(#minecraft:target) .switch-display.minecraft { display: block; }
body:has(#welcome:target) .switch-visibility.welcome { visibility: visible; }
body:has(#profile:target) .switch-visibility.profile { visibility: visible; }
body:has(#nagasamai:target) .switch-visibility.nagasamai { visibility: visible; }
body:has(#wakegaku:target) .switch-visibility.wakegaku { visibility: visible; }
body:has(#cocorefix:target) .switch-visibility.cocorefix { visibility: visible; }
body:has(#minecraft:target) .switch-visibility.minecraft { visibility: visible; }
body:has(#welcome:target) .menu-text.welcome { font-weight: bold; background: #dee2e6; }
body:has(#profile:target) .menu-text.profile { font-weight: bold; background: #dee2e6; }
body:has(#nagasamai:target) .menu-text.nagasamai { font-weight: bold; background: #dee2e6; }
body:has(#wakegaku:target) .menu-text.wakegaku { font-weight: bold; background: #dee2e6; }
body:has(#cocorefix:target) .menu-text.cocorefix { font-weight: bold; background: #dee2e6; }
body:has(#minecraft:target) .menu-text.minecraft { font-weight: bold; background: #dee2e6; }

/* 画面のサイズによって見た目を切り替える */
@media (max-width: 768px) {
	#btn_open-menu { display: block; }
  #btn_close-menubar { display: block; }
  #menubar { position: fixed; left: -300px; height: 100dvh; }
  #menus { margin-top: 40px; }
  #menubar.open { left: 0; }
}
@media (min-width: 768px) {
	#btn_open-menu { display: none; }
  #btn_close-menubar { display: none; }
  #menubar { position: relative; left: 0; }
  #menus { margin-top: 0; }
}
