#page_nagasamai {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

#page_nagasamai .slide {
  margin-bottom: 20px;
  max-height: calc(100dvh - calc(6rem + 40px));
}

.btn_goto-store {
  margin: 2rem;
  position: relative;
  display: inline-block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #FFF;
  background: #fd9535;/*色*/
  border-radius: 0.5rem;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
  font-weight: bold;
  border: solid 2px #d27d00;/*線色*/
}

.btn_goto-store:active {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}