body {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100dvh;
  margin: 0;
  font-family:
    "Noto Sans JP",
    "Hiragino Maru Gothic ProN",
    "Yu Gothic",
    "Meiryo",
    sans-serif;
}

img {
  max-width: 100%;
}

header {
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 4.3rem;
  background: #333;
  color: #fff;
}
header > #titles {
	flex: 1;
  padding-right: 4.3rem;
}
header > #titles > .title {
  display: none;
	margin: 0;
	text-align: center;
  white-space: nowrap;
}
header > #btn_open-menu {
  min-width: 4.3rem;
  min-height: 4.3rem;
  padding: 0;
  padding-top: 0.3rem;
  font-size: 1.8rem;
  cursor: pointer;
  border: none;
  color: white;
  background: none;
}

footer {
  display: flex;
	justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 1.7rem;
  background: #333;
  white-space: nowrap;
}
footer > * {
	margin: 0 0.5rem;
	text-align: center;
	text-decoration: none;
  color: #fff;
}

#top-layout {
  flex: 1;
  display: flex;
  overflow: hidden;
}

#menubar {
  z-index: 1;
  top: 0;
  overflow-y: auto;
  background: #f0f0f0;
  transition: left 0.3s;
}
#menubar > #btn_close-menubar {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  padding-top: 0.3rem;
  width: 4.3rem;
  height: 4.3rem;
  font-size: 1.5rem;
  cursor: pointer;
  border: none;
  background: none;
}
#menubar #menus {
  background: #f8f9fa;
}
#menubar .menu {
  display: flex;
  overflow: hidden;
}
#menubar .menu-prefix {
  visibility: hidden;
  background: #dee2e6;
  font-weight: bold;
  border-left: 0.7rem solid #0d6efd;
}
#menubar .menu-text {
  flex: 1;
  display: block;
  padding: 0.8rem 1.5rem;
  text-decoration: none;
  font-size: 1rem;
  transition: background 0.2s, padding-left 0.2s;
  color: #333;
}
#menubar .menu-text:hover {
  font-weight: bold;
  background: #e9ecef;
}

#content-area {
  flex: 1;
  padding: 0;
}
#content-area .content-wrapper {
  display: none;
  height: 100%;
  overflow-y: auto;
}
.load-html {
  color: white;
}

/* URL-Hashで要素の表示／非表示／見た目を切り替える */
#content-area > .content-wrapper:target { display: block; }
body:has(#welcome:target) .switch-display.welcome { display: block; }
body:has(#profile:target) .switch-display.profile { display: block; }
body:has(#nagasamai:target) .switch-display.nagasamai { display: block; }
body:has(#wakegaku:target) .switch-display.wakegaku { display: block; }
body:has(#cocorefix:target) .switch-display.cocorefix { display: block; }
body:has(#minecraft:target) .switch-display.minecraft { display: block; }
body:has(#welcome:target) .switch-visibility.welcome { visibility: visible; }
body:has(#profile:target) .switch-visibility.profile { visibility: visible; }
body:has(#nagasamai:target) .switch-visibility.nagasamai { visibility: visible; }
body:has(#wakegaku:target) .switch-visibility.wakegaku { visibility: visible; }
body:has(#cocorefix:target) .switch-visibility.cocorefix { visibility: visible; }
body:has(#minecraft:target) .switch-visibility.minecraft { visibility: visible; }
body:has(#welcome:target) .menu-text.welcome { font-weight: bold; background: #dee2e6; }
body:has(#profile:target) .menu-text.profile { font-weight: bold; background: #dee2e6; }
body:has(#nagasamai:target) .menu-text.nagasamai { font-weight: bold; background: #dee2e6; }
body:has(#wakegaku:target) .menu-text.wakegaku { font-weight: bold; background: #dee2e6; }
body:has(#cocorefix:target) .menu-text.cocorefix { font-weight: bold; background: #dee2e6; }
body:has(#minecraft:target) .menu-text.minecraft { font-weight: bold; background: #dee2e6; }

/* 画面のサイズによって見た目を切り替える */
@media (max-width: 768px) {
	#btn_open-menu { visibility: visible; }
  #btn_close-menubar { display: block; }
  #menubar { position: fixed; left: -30rem; height: 100dvh; }
  #menus { margin-top: 4.3rem; }
  #menubar.open { left: 0; }
}
@media (min-width: 768px) {
	#btn_open-menu { visibility: hidden; }
  #btn_close-menubar { display: none; }
  #menubar { position: relative; left: 0; }
  #menus { margin-top: 0; }
}
