#content_welcome {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#content_welcome .spacer {
  flex: 1;
}

#content_welcome .bubble {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1.5rem;
}

#content_welcome .bubble-text {
  position: relative;
  background: white;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 4px 18px rgba(0,0,0,0.2);
  max-width: 15rem;
}

#content_welcome .bubble-arrow {
  position: relative;
  width: 0;
  height: 0;
  margin-top: -2px; /* 少し重ねて接続 */
  
  /* 下向きの三角形 */
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-top: 1rem solid white;
  margin-left: 2rem; /* 横位置調整 */
}

#content_welcome .sns {
  text-align: center;
  padding: 25px;
}

#content_welcome a {
  color: black;
  text-decoration: none;
}

#content_welcome .sns i {
  padding: 15px 3px;
}