#content_welcome {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#content_welcome .spacer {
  flex: 1;
}

#content_welcome .bubble {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;
}

#content_welcome .bubble-text {
  position: relative;
  background: white;
  padding: 15px 15px;
  border-radius: 10px;
  box-shadow: 0 4px 18px rgba(0,0,0,0.2);
  max-width: 250px;
}

#content_welcome .bubble-arrow {
  position: relative;
  width: 0;
  height: 0;
  margin-top: -2px; /* 少し重ねて接続 */
  
  /* 下向きの三角形 */
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid white;
  margin-left: 25px; /* 横位置調整 */
}